// --------------------------------------------------
// Colors
// --------------------------------------------------

:root {
	--c-dark-blue: #27348b;
	--c-light-blue: #312783;
	--c-white: #ffffff;
	--c-black: #000000;
	--c-transparent: rgba(0, 0, 0, 0.4);
}
